{
  "extends": ["@smartive/eslint-config/react"],
  "rules": {
    "react/no-unknown-property": ["error", { "ignore": ["css", "tw"] }]
  },
  "ignorePatterns": [
    "packages/design-system-component-library-yeahyeahyeah/dist/**/*",
    "packages/design-system-component-library-yeahyeahyeah/node_modules/**/*"
  ]
}
