@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base: #475569;
    --color-light: #ffffff;

    --color-gradient-pink: #ec4899;
    --color-gradient-violet: #8b5cf6;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-base);
}
